*{
	padding: 0px;
	margin: 0px;
	font-family: Microsoft YaHei;
}

body{
	background-color: #f8f8f8;
}

article{
	padding: 40px;
	width: 800px;
	margin: 50px auto;
	background-color: white;
}

header{
	height: 100px;
	height: 200px;
	margin-bottom: 20px;
}

.tou,.main-info,.school-info{
	display: inline-block;
	vertical-align: top;
}

.tou{
	width: 20%;
	margin-right: 20px;
}

.main-info{
	width: 40%;
}

.school-info{
	width: 30%;
}

h1{
	border-bottom: 2px solid black;
}

.main-info h1{
	border-bottom:none;
}

p{
	margin: 20px 0;
}

.pingjia{
	border-top: 1px solid gray;
	padding-top: 15px;
}

.pingjia p,h2{
	color: gray;
	display: inline;

}