*{
	padding: 0px;
	margin: 0px;
	font-family: Microsoft YaHei;
}
 
@media screen and (min-width:1000px ){
	body{
		background-color: #f8f8f8;
	}

	article{
		padding: 40px;
		width: 800px;
		margin: 50px auto;
		background-color: white;
	}

	header{
		height: 200px;
		margin-bottom: 20px;
	}

	.img{
		width: 20%;
		margin-right: 20px;
	}
	.img h1,.img p{
		display: none;
	}

	.img,.main-info,.school-info{
		display: inline-block;
		vertical-align: top;
	}

	.tou{
		width: 100%;
	}

	.main-info{
		width: 40%;
	}

	.school-info{
		width: 30%;
	}

	h1{
		border-bottom: 2px solid black;
	}

	.main-info h1{
		border-bottom:none;
	}

	p{
		margin: 20px 0;
	}

	.pingjia{
		border-top: 1px solid gray;
		padding-top: 15px;
	}

	.pingjia p,h2{
		color: gray;
		display: inline;

	}

}

@media screen and (max-width: 1000px){
	
/* 	body{
	background-color: #f8f8f8;/* 页面背景色 *
	min-width: 600px;
	}

	article{
		margin: 0px auto;/* 简历内容居中 *
		padding: 20px; /* 简历内边距为20px *
		background-color: white;
	}
	header{
		overflow: hidden;
		display: flex; /* 头部信息为flex弹性布局 *
	}
	.school-info{
		display: none; /* 隐藏school-info *
	}

	.img{
		box-sizing: border-box; * 设置img的宽度计算方式为边距计算 *
		flex: 3;
		padding: 3vw;
		background-color: rgb(189, 214, 238);
	}

	.tou{
		width: 40%;
		display: inline-block;
		margin-top: 1vw;
	}
	.school{
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	.school h1{
		margin-top: 6vw;
		font-size: 4vw;
		margin-left: 1vw;
	}

	.school p{
		margin-top: 1vw;
		font-size: 1.8vw;
		margin-left: 1.8vw;
	}
	.main-info{
		box-sizing:border-box;
		flex: 2;
		background-color: rgb(31, 78, 121);
		padding: 1vw;
		color: white;
		font-size: 2vw;
	}

	.main-info h1{
		display: none;
	}
	.main-info p{
		margin: 2.5vw 0;
		margin-left: 1vw;
	}
	h2{
		font-size: 10px;
		border-bottom: 2px solid gray;
	} 
*/

	body{
		min-width: 550px;
		background-color: #f8f8f8;
		padding: 10px;
		font-size: 12px;
	}

	article{
		width: 500px;
		margin: 20px auto;
		background-color: white;
	}

	header{
		width: 500px;
		height: 150px;
		display: flex;
		margin: 0 auto;
	}

	.img, .main-info{
		display: inline-block;
	}
	.main-info h1{
		display: none;
	}
	.school-info{
		display: none;
	}

	.img{
		box-sizing: border-box;
		flex:3; 
		background-color: rgb(189, 214, 238);
		padding: 15px;
	}
	.tou{
		margin:15px 10px;
		width: 34%;
	}
	.school{
		box-sizing: border-box;
		width: 56%;
		display: inline-block;
		vertical-align: top;
		padding-right: 10px;
	}
	.school h1{
		margin-top: 36px;
		font-size: 22px;
		margin-bottom: 4px;
		color: rgb(31, 78, 121);
	}
	.main-info{
		flex: 1.8;
		box-sizing: border-box;
		background-color: rgb(31, 78, 121);
		padding: 0 15px;
		color: white;
	}
	.main-info p{
		margin: 15px 0px;
	}
	main,.skill,.pingjia{
		padding-left: 55px;
	}

	main h1,main p,.skill h1,.skill p, .pingjia h2, .pingjia p{
		display: inline-block;
	}
	main h1{
		font-size: 16px;
		color: rgb(89, 89, 89);
		margin-right: 20px;
		padding: 20px 0px 14px;
		vertical-align: middle;
	}
	main p{
		vertical-align: middle;
		padding: 19.5px 0;
	}

	.skill h1{
		font-size: 16px;
		color: rgb(89, 89, 89);
		margin-right: 20px;
		padding: 20px 0px 14px;
		vertical-align: middle;
	}
	.skill p{
		vertical-align: middle;
		padding: 19.5px 0;
	}

	.pingjia h2{
		font-size: 16px;
		color: rgb(89, 89, 89);
		margin-right: 20px;
		padding: 20px 0px 14px;
		vertical-align: middle;
	}
	.pingjia p{
		vertical-align: middle;
		padding: 19.5px 0;
	}
}
